* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: rgb(115, 59, 188);
}

body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 20px;
}

/* Contenedor centrado */
.container {
    max-width: 800px;
    margin: auto;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
}

/* Títulos */
h1, h2, h3 {
    margin-bottom: 15px;
    color: #ffffff;
}

/* Inputs y selects */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

/* Botón */
button {
    background-color: #4a6cf7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3d5ad1;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #2f2f2f;
}

th, td {
    padding: 10px;
    border: 1px solid #444;
}

th {
    background-color: #3a3a3a;
}

